/* CSS for Jacqueline J. Wilson Webpage */

body {
	background-color:white; 
	font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

header {
left: 50%;
	text-align:center;
}


nav {
  left: 50%;
	width:100%;
	font-size: 1.2em;
	text-align: center;
	word-spacing: 20px;
  padding-bottom: 10px
}

h1 {
    text-align:center;
}



footer {
clear:both;
left: 50%;
text-align: center;
	}
	

.right {	 
   	padding:10px;
	float: right;
	margin-left: 10px;
	margin-top: 10px;
	}

.left {
	float: left;
	margin-top: 10px;
	margin-right:10px;
	margin-left: 0;
	}
    

#content {
	margin-left:10px;
	padding-left: 10px;
  text-align: center;
	}
	
	#centerContentContainer{
	margin-left:25%;
  text-align: center;
	}
	
	#centerContent {
	margin-left:10px;
	margin-right: 25%;
  text-align: left;
	}

		

a:link {
	color: #6633FF;
	}

a:visited {
	color: #339966;
	}		

a:hover {
	color: #CC0066;
	}

a:active {
	color: #CC9999;
	}

footer ul {
	text-align: center;
	font-size: .800em;
}
	
footer {
clear:both;
	font-size: 15px;
  text-align: center;
	}

footer p {
clear:both;
	text-align: center;
	}

@media screen (max-width: 600px) {

    body {
        padding: 5%

}

    article {
    text-align: center;
        margin-left: 5%;
        width: 90%;

}
        figure {
        margin-left: 5%;
        width: 90%;
}

    nav ul {
    list-style-type: none;
    padding-left: 0;
}

    nav li {
    display:inline;
    margin-right: 10px;
    text-align: center;
    
    }